# shells
## zshell stores tab completion info here
.zcompdump

# User data
Pictures/
GOG\ Games/
Downloads/
Desktop/
Documents/
Telegram\ Desktop/
Videos/
.var/
.local/state


# This repo
.cfg.git/

# Validate  whether we want any of these things
.mozilla/
.ts3client/
.local/share
.cache/
.factorio/
.config/QtProject.conf
.config/pulse
.config/ibus/
.config/chromium/
.config/kactivitymanagerdrc
.config/kglobalshortcutsrc
.swp
.bash_history*
.swt/
.java/
.wine/
.dbus/
.PortfolioPerformance/
.aqbanking/

# config in general so we don't get tons of changes
.config/*
# exceptions for .config
!.config/awesome

# config whose relevant files we have added
.config/deluge

# config  we  don't want to persist
.config/helm


#gnome-related
.gnome/
.config/dconf/

# kde-related
.config/menus/applications-merged/xdg-desktop-menu-dummy.menu

# xfce4-related
.config/xfce4
## contains list of recently used programs
.config/xfce4/panel/whiskermenu-7.rc
## contain file and link names
.config/xfce4/desktop/icons*

# communication
.thunderbird/

# command history
.lesshst
.bash_history
.bash_logout
.viminfo
.vim/.netrwhist
.sudo_as_admin_successful
.wcalc*
.config/vlc/
.python_history
.ollama/
.wget-hsts
.wajig
.node_repl_history
.ansible/

# logs
.xsession-errors*

# security related
.config/keepassxc/
.config/hcloud/
.config/gcloud/
.terraform.d/
.boto
.pki/
.ICEauthority
.Xauthority
.ssh/
.kube/
.gnupg/

# cef = chromium embedded framework
# used by steam
.steam*
.config/cef_user_data/

# Application Data
.eteks/
jd2/

# programming
.conda/
.condarc
miniconda3/
go/
.npm/
.sdkman/
eclipse/
.eclipse/
.junitsession
.vscode-oss/
.config/VSCodium/
.texlive2024/
.texlive2022/
.p2/
.m2/
.nvm/
.local/pipx
.docker/
.openjfx/

# Games
.config/StardewValley
.config/Proxy\ Studios/
.config/unity3d/
.macromedia/
.dominions5/
.paradoxlauncher/
.pcsxr/

# Proprietary
.config/TeamSpeak/
