[init]
	defaultBranch = master
[user]
	email = lichturm@posteo.de
	name = Leon Welchert
	signingkey = 22C316A353F6F11ED2693628FD9D433219DA6540!
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
