[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "/home/leon/.zprezto"]
	path = .zprezto
	url = git@github.com:Atomsoldat/prezto.git
[submodule ".local/share/gruvbox-plus-icon-pack"]
	path = .local/share/gruvbox-plus-icon-pack
	url = https://github.com/SylEleuth/gruvbox-plus-icon-pack.git
