# shells
## zshell stores tab completion info here
.zcompdump
.zsh_history
.zhistory

# User data
Pictures/
GOG\ Games/
Downloads/
Desktop/
Documents/
Telegram\ Desktop/
Videos/
.var/
.local/state
.calc_history

# noise
.config/deluge/gtk3ui.conf
.config/mimeapps.list
.config/user-dirs.dirs
.config/user-dirs.dirs


# This repo
.cfg.git/

# Validate  whether we want any of these things
.mozilla/
.mullvad-browser/
.ts3client/
.local/share
.local/bin
.local/lib
.cache/
.factorio/
.swp
.bash_history*
.swt/
.java/
.wine/
.dbus/
.PortfolioPerformance/
.aqbanking/

# config in general so we don't get tons of changes
.config/*
# exceptions for .config
!.config/awesome
!.config/alacritty
!.config/shell
!.config/nvim
!.config/xfce4
!.config/VSCodium/User/settings.json


#xfce4
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-screenshooter.xml
.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
# it would be nice to keep this in git, but it is alsor really noisy...
# maybe config files can be split?
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml

#gnome-related
.gnome/

# communication
.thunderbird/

# command history
.lesshst
.bash_history
.bash_logout
.viminfo
.vim/.netrwhist
.sudo_as_admin_successful
.wcalc*
.python_history
.ollama/
.wget-hsts
.wajig
.node_repl_history
.ansible/

# logs
.xsession-errors*

# security related
.config/keepassxc/
.config/hcloud/
.config/gcloud/
.terraform.d/
.boto
.pki/
.ICEauthority
.Xauthority
.ssh/**
!.ssh/config
.kube/
.gnupg/
.minikube/

# cef = chromium embedded framework
# used by steam
.steam*

# Application Data
.eteks/
jd2/

# programming
.conda/
.condarc
miniconda3/
go/
.npm/
.sdkman/
eclipse/
.eclipse/
.junitsession
.vscode-oss/
.texlive2024/
.texlive2022/
.p2/
.m2/
.nvm/
.local/pipx
.docker/
.openjfx/
# boy, i sure love being tracked ...
.redhat/anonymousId

# Games
.macromedia/
.dominions5/
.paradoxlauncher/
.pcsxr/
